<%= render :partial => "shared/header" , :locals => { title: @title }  %>
    <!-- body title  -->
    <div class="body title">
      <div class="text-center">
        <div class="h1">ご予約はこちらから</div>
      </div>
      <hr style="border-top: 2px dashed #ff9d9d; width: 60%;">
    </div>


    <div class ="form-horizontal">
      <%= form_for @reserve, url: confirm_reserve_index_path do |f| %>
        <!-- 講座の一覧 -->
        <div class="form-group">
          <div class="col-xs-5 control-label">
            <%= f.label '講座選択' %>
            <%= f.label '必須', { class: 'label label-danger', id: 'req_label' } %>
          </div>
          <!-- ここにCollection_selectを記述する -->
        </div>

        <!-- 親の名前 -->
        <div class="form-group">
          <div class="col-xs-5 control-label">
            <%= f.label 'お名前' %>
          </div>
          <div class="col-md-3 col-xs-6">
            <%= f.text_field :name, class: 'form-control', placeholder: 'お名前'%>
          </div>
        </div>

        <!-- 親のフリガナ-->
        <div class="form-group">
          <div class="col-xs-5 control-label">
            <%= f.label 'お名前' %>
          </div>
          <div class="col-md-3 col-xs-6">
            <%= f.text_field :kana, class: 'form-control', placeholder: 'ふりがな'%>
          </div>
        </div>

        <!-- 子供の名前 -->
        <div class="form-group">
          <div class="col-xs-5 control-label">
            <%= f.label 'お子様のお名前' %>
            <%= f.label '必須', { class: 'label label-danger', id: 'req_label' } %>
          </div>
          <div class="col-md-3 col-xs-6">
            <%= f.text_field :child_name, class: 'form-control', placeholder: 'お子様のお名前'%>
          </div>
        </div>

        <!-- 子供のふりがな -->
        <div class="form-group">
          <div class="col-xs-5 control-label">
            <%= f.label 'お子様のふりがな' %>
            <%= f.label '必須', { class: 'label label-danger', id: 'req_label' } %>
          </div>
          <div class="col-md-3 col-xs-6">
            <%= f.text_field :child_kana, class: 'form-control', placeholder: 'お子様のふりがな'%>
          </div>
        </div>

        <!-- お子様の月齢 -->
        <div class="form-group">
          <div class="col-xs-5 control-label">
            <%= f.label 'お子様の月齢' %>
            <%= f.label '必須', { class: 'label label-danger', id: 'req_label' } %>
          </div>
          <div class="col-md-3 col-xs-6">
            <%= f.text_field :child_age, class: 'form-control', placeholder: 'お子様の月齢（例：1歳3ヵ月）'%>
          </div>
        </div>

        <!-- メールアドレス -->
        <div class="form-group">
          <div class="col-xs-5 control-label">
            <%= f.label 'メールアドレス' %>
            <%= f.label '必須', { class: 'label label-danger', id: 'req_label' } %>
          </div>
          <div class="col-md-3 col-xs-6">
            <%= f.email_field :email, class: 'form-control', placeholder: 'メールアドレス'%>
          </div>
        </div>

        <!-- 電話番号 -->
        <div class="form-group">
          <div class="col-xs-5 control-label">
            <%= f.label '携帯番号' %>
            <%= f.label '必須', { class: 'label label-danger', id: 'req_label' } %>
          </div>
          <div class="col-md-3 col-xs-6">
            <%= f.telephone_field :tel, class: 'form-control', placeholder: '携帯番号 (例：090123498765)'%>
          </div>
        </div>

        <!-- 予約時間 -->
        <div class="form-group">
          <div class="col-xs-5 control-label">
            <%= f.label '予約時間' %>
            <%= f.label '必須', { class: 'label label-danger', id: 'req_label' } %>
          </div>
          <div class="col-md-3 col-xs-6">
            <div class="radio">
              <label><%= f.radio_button :reserve_period, 0 %>午前</label>
            </div>
            <div class="radio">
              <label><%= f.radio_button :reserve_period, 1 %>午後</label>
            </div>
          </div>
        </div>

        <!-- 質問１ -->
        <div class="form-group">
          <div class="col-xs-5 control-label">
            <%= f.label 'おひるねアートは初めてですか？' %>
          </div>
          <div class="col-md-3 col-xs-6">
            <div class="radio">
              <label><%= f.radio_button :beginner, 0 %>はい</label>
            </div>
            <div class="radio">
              <label><%= f.radio_button :beginner, 1 %>いいえ</label>
            </div>
          </div>
        </div>

        <!-- 質問2 -->
        <div class="form-group">
          <div class="col-xs-5 control-label">
            <%= f.label 'アンケート' %>
            <%= f.label '必須', { class: 'label label-danger', id: 'req_label' } %>
          </div>
          <div class="col-md-3 col-xs-6">
            <p class="form-control-static">今回の撮影会をどちらでお知りになりましたか？</p>
            <% @CONST_QUESTION.each do |key, val| %>
              <div class="checkbox">
                  <label><input type="checkbox" name="question[]" value=<%= key %> /><%= val %></label>
              </div>
            <% end %>
          </div>
        </div>

        <!-- 備考 -->
        <div class="form-group">
          <div class="col-xs-5 control-label">
            <%= f.label '備考' %>
          </div>
          <div class="col-md-3 col-xs-6">
            <p class="form-control-static">当日、ご参加にママ以外の大人の方がいらっしゃる場合、こちらの備考欄に記述してください。</p>
            <%= f.text_area :remarks, class: 'form-control' %>
          </div>
        </div>


        <div class="form-group">
          <div class="col-xs-offset-6 col-xs-1">
            <%= f.submit '確認', { class: 'btn btn-default btn-lg'} %>
          </div>
        </div>
      <% end %>
    </div>


    <div class ="form-horizontal">

      <form method="post" action="">

        <!-- イベントリスト選択フォーム -->
        <div class="form-group">
          <label for="eventList" class="col-xs-5 control-label">イベント選択<span class="label label-danger" style="margin:0 0 0 10px;">必須</span></label>
          <div class="col-md-3 col-xs-6">
            <select class="form-control">
              <option>2016/08/10 三鷹 市民会館 10:00〜</option>
              <option>2016/09/20 三鷹 市民会館 10:00〜</option>
              <option>2016/10/10 三鷹 市民会館 10:00〜</option>
              <option>2016/11/10 三鷹 市民会館 10:00〜</option>
            </select>
          </div>
        </div>

        <!-- お名前 -->
        <div class="form-group">
          <label for="name" class="col-xs-5 control-label">お名前</label>
          <div class="col-md-3 col-xs-6">
            <input type="text" class="form-control" id="name" placeholder="お名前">
          </div>
        </div>

        <!-- ふりがな -->
        <div class="form-group">
          <label for="furigana" class="col-xs-5 control-label">ふりがな</label>
          <div class="col-md-3 col-xs-6">
            <input type="text" class="form-control" id="furigana" placeholder="ふりがな">
          </div>
        </div>

        <!-- お子様のお名前 -->
        <div class="form-group">
          <label for="childName" class="col-xs-5 control-label">お子様のお名前<span class="label label-danger" style="margin:0 0 0 10px;">必須</span></label>
          <div class="col-md-3 col-xs-6">
            <input type="text" class="form-control" id="childName" placeholder="お子様のお名前">
          </div>
        </div>

        <!-- お子様のふりがな -->
        <div class="form-group">
          <label for="childFurigan" class="col-xs-5 control-label">お子様のふりがな<span class="label label-danger" style="margin:0 0 0 10px;">必須</span></label>
          <div class="col-md-3 col-xs-6">
            <input type="text" class="form-control" id="childFurigana" placeholder="お子様のふりがな">
          </div>
        </div>

        <!-- お子様月齢 -->
        <div class="form-group">
          <label for="childAge" class="col-xs-5 control-label">お子様月齢<span class="label label-danger" style="margin:0 0 0 10px;">必須</span></label>
          <div class="col-md-3 col-xs-6">
            <input type="text" class="form-control" id="childAge" placeholder="お子様月齢">
          </div>
        </div>

        <!-- メールアドレス -->
        <div class="form-group">
          <label for="mail" class="col-xs-5 control-label">メールアドレス<span class="label label-danger" style="margin:0 0 0 10px;">必須</span></label>
          <div class="col-md-3 col-xs-6">
            <input type="text" class="form-control" id="mail" placeholder="メールアドレス">
          </div>
        </div>

        <!-- 携帯番号 -->
        <div class="form-group">
          <label for="tellphoneNumber" class="col-xs-5 control-label">携帯番号<span class="label label-danger" style="margin:0 0 0 10px;">必須</span></label>
          <div class="col-md-3 col-xs-6">
            <input type="text" class="form-control" id="tellphoneNumber" placeholder="携帯番号">
          </div>
        </div>

        <!-- 予約時間 -->
        <div class="form-group">
            <label for="reserveTimeZone" class="col-xs-5 control-label">予約時間<span class="label label-danger" style="margin:0 0 0 10px;">必須</span></label>

          <div class="col-md-3 col-xs-6">
            <div class="radio">
              <label>
                <input type="radio"> 午前
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio"> 午前
              </label>
            </div>
          </div>
        </div>

        <!-- お昼寝アート初回かの可否 -->
        <div class="form-group">
          <label for="firstEvent" class="col-xs-5 control-label">おひるねアートはじめてですか</label>

          <div class="col-md-3 col-xs-6">
            <div class="radio">
              <label>
                <input type="radio"> はい
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio"> いいえ
              </label>
            </div>
          </div>
        </div>

        <!-- アンケート -->
        <div class="form-group">
          <label for="question" class="col-xs-5 control-label">アンケート<span class="label label-danger" style="margin:0 0 0 10px;">必須</span></label>
          <div class="col-md-3 col-xs-6">
            <p class="from-control-static">今回の撮影会をどちらでお知りになりましたか？</p>

            <div class="checkbox">
              <label>
                <input type="checkbox" />日本お昼寝アート協会HP
              </label>
            </div>

            <div class="checkbox">
              <label>
                <input type="checkbox" />Facebook
              </label>
            </div>

            <div class="checkbox">
              <label>
                <input type="checkbox" />講師ブログ
              </label>
            </div>

            <div class="checkbox">
              <label>
                <input type="checkbox" />チラシ
              </label>
            </div>

            <div class="checkbox">
              <label>
                <input type="checkbox" />講師からの直接のご案内
              </label>
            </div>

            <div class="checkbox">
              <label>
                <input type="checkbox" />他講師のご案内
              </label>
            </div>

            <div class="checkbox">
              <label>
                <input type="checkbox" />知人・友人からのご紹介
                </label>
            </div>

            <div class="checkbox">
              <label>
                <input type="checkbox" />その他（以下の備考に記述してください）
              </label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-xs-5 control-label" for="InputTextarea">備考</label>
          <div class="col-md-3 col-xs-6">

            <!-- 入力項目の位置に静的なテキストを追加する場合、テキスト全体に「.form-control-static」クラスを指定したブロック要素で括る。（左記指定がない場合テキストがやや上にズレるため）>-->
            <p class="form-control-static">当日のご参加にママ以外の大人の方がいらっしゃる場合には、<br>こちらの備考欄に記述ください。</p>

            <textarea row="4" class="form-control" id="InputTextarea"></textarea>
          </div>
        </div>

        <div class="form-group">
            <div class="col-xs-offset-6 col-xs-1">
                <button type="submit" class="btn btn-default btn-lg"/>キャンセル</button>
            </div>
                <button type="submit" class="btn btn-default btn-lg"/>送信</button>
            </div>
        </div>
      </form>
    </div>
    <!-- form horizontal -->


<%= render :partial => "shared/footer"  %>
