<%= render :partial => "shared/header" , :locals => { title: @title }  %>

    <!-- error message -->
    <% if @reserve.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <ul>
          <% @reserve.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <!-- body title  -->
    <div class="body title">
      <div class="text-center">
        <div class="h1">ご予約はこちらから</div>
      </div>
      <hr style="border-top: 2px dashed #ff9d9d; width: 60%;">
    </div>

    <div class ="form-horizontal">
<<<<<<< HEAD

        <%= form_for @reserve, :url => {:action => 'confirm'} do |f| %>
        <%= f.text_field :name, placeholder: '名前を入力してください。' , class: 'form-control' %>
      <% end %>
      <form method="post" action="">

        <!-- イベントリスト選択フォーム -->
=======
      <%= form_for @reserve, url: confirm_reserve_index_path do |f| %>
        <!-- 講座の一覧 -->
>>>>>>> editResurve
        <div class="form-group">
          <div class="col-xs-5 control-label">
            <%= f.label '講座選択' %>
            <%= f.label '必須', { class: 'label label-danger', id: 'req_label' } %>
          </div>
          <!-- ここにCollection_selectを記述する -->
        </div>

        <!-- 親の名前 -->
        <div class="form-group">
          <div class="col-xs-5 control-label">
            <%= f.label 'お名前' %>
          </div>
          <div class="col-md-3 col-xs-6">
            <%= f.text_field :name, class: 'form-control', placeholder: 'お名前'%>
          </div>
        </div>

        <!-- 親のフリガナ-->
        <div class="form-group">
          <div class="col-xs-5 control-label">
            <%= f.label 'お名前' %>
          </div>
          <div class="col-md-3 col-xs-6">
            <%= f.text_field :kana, class: 'form-control', placeholder: 'ふりがな'%>
          </div>
        </div>

        <!-- 子供の名前 -->
        <div class="form-group">
          <div class="col-xs-5 control-label">
            <%= f.label 'お子様のお名前' %>
            <%= f.label '必須', { class: 'label label-danger', id: 'req_label' } %>
          </div>
          <div class="col-md-3 col-xs-6">
            <%= f.text_field :child_name, class: 'form-control', placeholder: 'お子様のお名前'%>
          </div>
        </div>

        <!-- 子供のふりがな -->
        <div class="form-group">
          <div class="col-xs-5 control-label">
            <%= f.label 'お子様のふりがな' %>
            <%= f.label '必須', { class: 'label label-danger', id: 'req_label' } %>
          </div>
          <div class="col-md-3 col-xs-6">
            <%= f.text_field :child_kana, class: 'form-control', placeholder: 'お子様のふりがな'%>
          </div>
        </div>

        <!-- お子様の月齢 -->
        <div class="form-group">
          <div class="col-xs-5 control-label">
            <%= f.label 'お子様の月齢' %>
            <%= f.label '必須', { class: 'label label-danger', id: 'req_label' } %>
          </div>
          <div class="col-md-3 col-xs-6">
            <%= f.text_field :child_age, class: 'form-control', placeholder: 'お子様の月齢（例：1歳3ヵ月）'%>
          </div>
        </div>

        <!-- メールアドレス -->
        <div class="form-group">
          <div class="col-xs-5 control-label">
            <%= f.label 'メールアドレス' %>
            <%= f.label '必須', { class: 'label label-danger', id: 'req_label' } %>
          </div>
          <div class="col-md-3 col-xs-6">
            <%= f.email_field :email, class: 'form-control', placeholder: 'メールアドレス'%>
          </div>
        </div>

        <!-- 電話番号 -->
        <div class="form-group">
          <div class="col-xs-5 control-label">
            <%= f.label '携帯番号' %>
            <%= f.label '必須', { class: 'label label-danger', id: 'req_label' } %>
          </div>
          <div class="col-md-3 col-xs-6">
            <%= f.telephone_field :tel, class: 'form-control', placeholder: '携帯番号 (例：09012349876)'%>
          </div>
        </div>

        <!-- 予約時間 -->
        <div class="form-group">
          <div class="col-xs-5 control-label">
            <%= f.label '予約時間' %>
            <%= f.label '必須', { class: 'label label-danger', id: 'req_label' } %>
          </div>
          <div class="col-md-3 col-xs-6">
            <div class="radio">
              <label><%= f.radio_button :reserve_period, 0 %>午前</label>
            </div>
            <div class="radio">
              <label><%= f.radio_button :reserve_period, 1 %>午後</label>
            </div>
          </div>
        </div>

        <!-- 質問１ -->
        <div class="form-group">
          <div class="col-xs-5 control-label">
            <%= f.label 'おひるねアートは初めてですか？' %>
          </div>
          <div class="col-md-3 col-xs-6">
            <div class="radio">
              <label><%= f.radio_button :beginner, 0 %>はい</label>
            </div>
            <div class="radio">
              <label><%= f.radio_button :beginner, 1 %>いいえ</label>
            </div>
          </div>
        </div>

        <!-- 質問2 -->
        <div class="form-group">
          <div class="col-xs-5 control-label">
            <%= f.label 'アンケート' %>
            <%= f.label '必須', { class: 'label label-danger', id: 'req_label' } %>
          </div>
          <div class="col-md-3 col-xs-6">
            <p class="form-control-static">今回の撮影会をどちらでお知りになりましたか？</p>
          </div>
        </div>

        <!-- 備考 -->
        <div class="form-group">
          <div class="col-xs-5 control-label">
            <%= f.label '備考' %>
          </div>
          <div class="col-md-3 col-xs-6">
            <p class="form-control-static">当日、ご参加にママ以外の大人の方がいらっしゃる場合、こちらの備考欄に記述してください。</p>
            <%= f.text_area :remarks, class: 'form-control' %>
          </div>
        </div>

        <!-- 送信ボタン -->
        <div class="form-group">
          <div class="col-xs-offset-6 col-xs-1">
            <%= f.submit '確認', { class: 'btn btn-default btn-lg'} %>
          </div>
        </div>
      <% end %>
    </div>

<%= render :partial => "shared/footer"  %>
