<p id="notice"><%= notice %></p>

<h1>Reserves</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Name</th>
      <th>Kana</th>
      <th>Child name</th>
      <th>Child kana</th>
      <th>Child age</th>
      <th>Email</th>
      <th>Tel</th>
      <th>Reserve period</th>
      <th>Beginner</th>
      <th>Qa</th>
      <th>Remarks</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reserves.each do |reserf| %>
      <tr>
        <td><%= reserf.event %></td>
        <td><%= reserf.name %></td>
        <td><%= reserf.kana %></td>
        <td><%= reserf.child_name %></td>
        <td><%= reserf.child_kana %></td>
        <td><%= reserf.child_age %></td>
        <td><%= reserf.email %></td>
        <td><%= reserf.tel %></td>
        <td><%= reserf.reserve_period %></td>
        <td><%= reserf.beginner %></td>
        <td><%= reserf.qa %></td>
        <td><%= reserf.remarks %></td>
        <td><%= link_to 'Show', reserf %></td>
        <td><%= link_to 'Edit', edit_reserf_path(reserf) %></td>
        <td><%= link_to 'Destroy', reserf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reserf', new_reserf_path %>
