<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @reserf.event %>
</p>

<p>
  <strong>Name:</strong>
  <%= @reserf.name %>
</p>

<p>
  <strong>Kana:</strong>
  <%= @reserf.kana %>
</p>

<p>
  <strong>Child name:</strong>
  <%= @reserf.child_name %>
</p>

<p>
  <strong>Child kana:</strong>
  <%= @reserf.child_kana %>
</p>

<p>
  <strong>Child age:</strong>
  <%= @reserf.child_age %>
</p>

<p>
  <strong>Email:</strong>
  <%= @reserf.email %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @reserf.tel %>
</p>

<p>
  <strong>Reserve period:</strong>
  <%= @reserf.reserve_period %>
</p>

<p>
  <strong>Beginner:</strong>
  <%= @reserf.beginner %>
</p>

<p>
  <strong>Qa:</strong>
  <%= @reserf.qa %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @reserf.remarks %>
</p>

<%= link_to 'Edit', edit_reserf_path(@reserf) %> |
<%= link_to 'Back', reserves_path %>
