<h1>Event list</h1>

<table border="1">
  <thead>
    <th>イベント番号</th>
    <th>イベント開催場所</th>
    <th>イベント日</th>
    <th>イベント時間</th>
    <th>イベント名</th>
    <th>イベント内容</th>
    <th>参加費</th>
    <th>備考</th>
  </thead>

  <tbody>
    <% @event_list.each do |event| %>
      <tr>
        <td><%= event.event_id %></td>
        <td><%= event.reserve_period.event_place.event_place_name %></td>
        <td><%= event.event_date %></td>
        <td><%= "#{event.event_start_time.strftime("%H:%M")} - #{event.event_end_time.strftime("%H:%M")}" %></td>
        <td><%= event.event_title %></td>
        <td><%= event.event_content %></td>
        <td><%= event.event_fee %></td>
        <td><%= event.remarks %></td>
      </tr>
    <% end %>
  </tbody>

  <%= paginate @event_list %>

</table>


